@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li,ol{
    list-style: none;
}

body{
    background-color: #fff;
    color:#333;
    font-size: 14px;
    font-family: "맑은 고딕";
}

#wrap{
    width: 100%;
    height: 920px;
    background-color: #d6d6d6;
}

.left{
    width: 200px;
    height: 800px;
    background-color: #ffffff;
    float: left;
}

.logo{
    text-align: center;

}
.logo a{
    display: inline-block;
    width: 171px;
    height: 115px;
}

.nav{
    margin-top: 20px;
}

.main{
    width: 180px;
    margin: 0 auto;
}
.main > li{
    position: relative;
}
.main > li > a{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #a3cdf0;
    height: 50px;
    line-height: 50px;
}
.main > li:hover > a{
    background-color: #4795d4;
}

.sub{
    position: absolute;
    left: 190px;
    top: 0;
    width: calc(1920px - 190px);
    background-color: rgba(0, 0, 0, .8);
    display: none;
    z-index: 100;
}
.sub li{
    display: inline-block;
}
.sub li a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}
.sub li a:hover{
    background-color: rgba(255, 255, 255, .5);
}

.right{
    width: calc(100% - 200px);
    height: 800px;
    background-color: #4e4da8;
    float: right;
}

.img_slide{
    width: 100%;
    height: 400px;
}

.move{
    width: 100%;
    height: 400px;
    position: relative;
}

.move li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
}

.move li img{
    width: 100%;
    height: 100%;
}

.link{
    width: 100%;
    height: 150px;
    background-color: #d4eeff;
    padding: 10px;
}

.link_list{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.link_list li{
    text-align: center;
    width: 100px;
    display: inline-block;
    margin: 0 10px;
}

.link_list li a{
    display: block;
}

.link_list li a img{
    display: block;
    width: 100px;
    height: 100px;
}

.link_list li a span{
    display: block;
    height: 30px;
    line-height: 30px;
}

.contents{
    width: 100%;
    height: 250px;
    background-color: #b3daff;
    padding: 10px;
}

.contents > div{
    float: left;
    height: 230px;
    width: 50%;
    padding: 20px;
    /* border: 1px solid; */
}
.contents h2{
    font-size: 14px;
    background-color: #f1f1f1;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.contents ul{
    background-color: #f1f1f1;
    width: 100%;
    height: 160px;
    padding: 10px;
}

.notice{}
.notice li{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dotted #444;
}

.notice li:hover{
    background-color: #fff;
}
.notice li a{
    display: block;
    float: left;

    width: 75%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.notice li span{
    float: right;
}

.gallery{
    text-align: center;
}
.gallery li{
    display: inline-block;
    width: 120px;
    margin: 0 50px;
}
.gallery li a{}
.gallery li a img{
    width: 100%;
}
.gallery li a span{
    font-size: 12px;
}

.gallery li a img:hover{
    opacity: 0.8;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: #12003d;
    clear: both;
}

.f_logo{
    width: 200px;
    height: 120px;
    float: left;
}

.f_center{
    width: calc(100% - 400px);
    height: 120px;
    float: left;
}

.f_menu{
    height: 60px;
    line-height: 60px;
    color: white;
}
.f_menu a{
    display: inline-block;
    padding: 0 10px;
}

.f_menu a:hover{
    text-decoration: underline;
}

.f_menu a::after{
    content: "|";
    display: inline-block;
    padding-left: 10px;
}

.f_menu a:last-child::after{
    display: none;
}

.copy{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: white;
}

.family{
    width: 200px;
    height: 120px;
    float: right;
    text-align: center;
    padding-top: 40px;
}

.family #fa{
    width: 150px;
    height: 40px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    background-color: #fff;
    border: 5px solid blue;
    display: none;
}
.popup h3{
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px dotted gray;
    text-align: center;
}
.popup p{
    padding-top: 20px;
    line-height: 2;
    font-size: 14px;
    text-align: justify;
}
.popup .close{
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    right: 10px;
}